:root {
  --color-dark: #2a2c3a;
  --color-default: #2d3040;
  --color-bg: #252633;
  --color-green: #66cc66;
  --color-dark-blue: rgb(78,147,206);
  --color--blue: rgb(95,178,248);
  --color-light-green: #9ce19c;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  line-height: 140%;
}



body {
  overflow-x: hidden;
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/InterVAR.ttf");
  font-weight: 100 900;
}

input {
  font-family: "Inter", sans-serif;
  outline: none;
  border: none;
}

input::file-selector-button {
  color: white;
  font-weight: 700;
  background-color: #66cc66;
  cursor: pointer;
  padding: 16px 24px;
  border: none;
  border-radius: 50px;
}

input[type="checkbox"]:not(:checked) {
  outline: none;
  background-color: transparent;
}

input:checked {
  outline: none;
  accent-color: #5fb2f8;
}

button {
  background-color: #2a2c3a;
  font-family: inherit;
  color: white;
  padding: 8px 20px;
  outline: none;
  border: 2px solid #66cc66;
  border-radius: 80px;
  cursor: pointer;
  &:hover {
    background-color: #66cc66;
  }
}