
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000055;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 24%;
  min-height: 50%;
  background-color: #252633;
  border: 2px solid #2d3040;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  filter: drop-shadow(0px 0px 20px #00000055);
  h1 {
    text-transform: capitalize;
    margin-bottom: 12px;
  }

  th {
    font-size: 24px;
  }
  th:nth-child(1) {
    text-align: left;
  }
  td, th {
    padding: 12px 18px;
    text-transform: capitalize;
  }
  table {
    width: 100%;
    border-radius: 8px;
    background-color: #2a2c3a;
  }
  tbody {
    tr:nth-child(odd) {
      background-color: #2d3040;
    }
    tr:hover {
      background-color: #66cc66;
      cursor: pointer;
    }
  }

}

.Button {
  cursor: pointer;
  margin-left: auto;
}

.Settings {
  margin-top: 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #2d3040;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252633;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #66cc66;
}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.round {
  border-radius: 34px;
}

.round:before {
  border-radius: 50%;
}

