.Navbar {
  background: var(--color-default);
  display: flex;
  position: sticky;
  width: 100%;
  z-index: 99;
  height: 80px;
  backdrop-filter: blur(25px);

  a {
    height: inherit;
  }

  img {
    height: 100%;
    padding: 28px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 16px;

    li {
      position: relative;
      font-weight: 600;
      justify-content: center;
      align-items: center;

      display: flex;
       a {
         border-bottom: 2px solid transparent;
         padding-bottom: 3px;
    position: relative;
         &:hover {
           border-bottom: 2px solid #66cc66;
         }
       }
    }
  }
}

.active {
  border-bottom: 2px solid #66cc66 !important;
  padding-bottom: 0;
  }